.button {
	height: 100%;
	display: inline-block;

	font-size: 14pt;
	text-align: center;
	cursor: pointer;
}

#nav .button {
	color: white;

	&:hover {
		text-decoration: underline;
	}

	&.selected:after {
		content: "";
		display: block;
		width: 0px;
		height: 0px;

		border-bottom: solid 6px white;
		border-left: solid 6px transparent;
		border-right: solid 6px transparent;

		box-sizing: content-box;

		position: absolute;
		bottom: 0px;
		left: 50%;
		margin-left: -3px;
	}
}