.button {
	height: 100%;
	display: inline-block;

	font-size: 14pt;
	text-align: center;
	cursor: pointer;
}

#nav .button {
	color: white;

	&:hover {
		text-decoration: underline;
	}

	&.selected:after {
		content: "";
		display: block;
		width: 0px;
		height: 0px;

		border-bottom: solid 6px white;
		border-left: solid 6px transparent;
		border-right: solid 6px transparent;

		box-sizing: content-box;

		position: absolute;
		bottom: 0px;
		left: 50%;
		margin-left: -3px;
	}
}

button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;
	border-radius: 8px;
	border:1px solid #dcdcdc;
	display:block;
	margin: 3px auto;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	padding: 4px 0px;
	width:90%;
	text-align:center;
}

button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background-color:#dfdfdf;
}

button:active {
	position:relative;
	top:1px;
}

button.mid, button.left, button.right {
	width: 33%;
	display: inline-block;
	outline: none;
}

button.mid {
	border-radius: 0px;
}
button.left {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
button.right {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}