.content {
	white-space: normal;
	padding: 15px;
}

* {
	font-family: Arial, sans-serif;
}

p {
	font-size: 13pt;
	line-height: 16pt;
	padding-bottom: 16pt;
	text-indent: 15px;
}


h1 {
	font-size: 40px;
	line-height: 50px;
}

h2 {
	font-size: 30px;
	line-height: 40px;
}

li {
	font-size: 13pt;
}

.CodeMirror {
	font-size: 10pt;
	min-height: 300px;
	height: auto !important;

	.CodeMirror-sizer {
		min-height: 300px !important;
	}

	.CodeMirror-gutter {
		width: 2em;
	}
}