$headerHeight: 40px;
$navHeight: 30px;
$containerWidth: 900px;
$numPages: 3;

@import "buttons.scss";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	position: relative;
}

body, html, #container {
	height: 100%;
}

.container {
	width: $containerWidth;
	margin: {
		left: auto;
		right: auto;
	}
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: $headerHeight;
	width: 100%;
	background-color: blue;
	z-index: 1;

	.button {

	}
}

#container {
	background-color: gray;
	padding-top: $headerHeight + $navHeight;
}

#nav {
	height: $navHeight;
	width: 100%;
	position: absolute;
	top: $headerHeight;
	background-color: purple;
	font-size: 0px;

	.button {
		width: 33.333%; // 100% / #buttons
	}
}

#pages {
	width: $containerWidth;
	height: 100%;
	overflow: hidden;

	background-color: red;

	font-size: 0px; // to stop inline-blocks having a character sized margin
	white-space: nowrap;

	.page {
		width: 30px;
		height: 100%;
		display: inline-block;
		overflow: hidden;
		opacity: 0;
		-webkit-transition: width .4s ease, opacity .4s ease;

		background-color: yellow;

		// reset text stuff
		font-size: 12pt;
		white-space: normal;

		.content {
			width: $containerWidth - 60px;
			height: 100%;
		}
	}

	.page.expand {
		width: $containerWidth - 60px;
		opacity: 1;
		background-color: green;
	}
}