$headerHeight: 50px;
$footerHeight: 50px;
$navHeight: 30px;
$containerWidth: 800px;

@import "buttons.scss";
@import "content.scss";
@import "upload.scss";
@import "columns.scss";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	position: relative;
}

body, html {
	height: 100%;
}

.container {
	width: $containerWidth;
	margin: {
		left: auto;
		right: auto;
	}
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: $headerHeight;
	width: 100%;
	min-width: $containerWidth;
	background-color: #f1f1f1;
	z-index: 15; // higher than codemirror

	.button {

	}
}

#logo {
	max-height: 100%;
	padding: 10px 20px 10px 5px;
}

#nav {
	height: $navHeight;
	width: 100%;
	min-width: $containerWidth;
	position: absolute;
	top: $headerHeight;
	background-color: #444;
	font-size: 0px;
	z-index: 14;
	.button {
		width: 33.333%; // 100% / #buttons
		line-height: $navHeight;
	}
}

#container {
	min-height: 100%;
	padding-top: $headerHeight + $navHeight;

	padding-bottom: $footerHeight;
	margin-bottom: -$footerHeight;
}

#pages {
	width: $containerWidth;
	overflow: hidden;

	font-size: 0px; // to stop inline-blocks having a character sized margin
	white-space: nowrap;

	.page {
		width: 0px;
		display: inline-block;
		vertical-align:top;
		overflow: hidden;
		opacity: 0;
		-webkit-transition: width .4s ease, opacity .4s ease;

		.content {
			width: $containerWidth;
			overflow-y: scroll;
		}
	}

	.page.expand {
		width: $containerWidth;
		opacity: 1;
	}
}

#footer {
	width: 100%;
	min-width: $containerWidth;
	height: $footerHeight;

	background-color: #444;
}

.hidden {
	display: none;
}

.dialogue {
	position: fixed;
	width: 450px;
	margin-left: -225px;
	top: 200px;
	left: 50%;
	background: white;
	padding: 40px;
	border-radius: 25px;
	z-index: 16; // > #overlay

	h3, input, p, button {
		margin-bottom: 5px;
	}

	input {
		width: 100%;
		font-size: 15pt;
	}
}

.overlay {
	z-index: 14; // #nav <= z-index < #header
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: black;
	opacity: .4;
}