.script-options {
	width: 100%;
	border-radius: 8px;
	overflow: hidden;

	.script-element {
		cursor: pointer;

	 	&.selected {
	 		cursor: auto;
	 		color: white;
			background-color: rgb(80,116, 211);
	 	}

		.delete {
			float: right;
			width: 20px;
			height: 20px;
			background-color: white;
			cursor: pointer;
		}
	}
}

.script-options:empty:after, .script-options > * {
	width: 100%;
	padding: 10px;
	list-style: none;
	display: list-item;
	font-size: 13pt;
	background-color: rgb(235,235,235);
	border-radius: 8px;
	margin: 4px 0px;
}

.script-options:empty:after {
	content: "No scripts yet";
	font-size: 12pt;
	width: 100%;
	box-sizing: border-box;
}

.column.four {
	margin-right: -25%;
	p {
		padding-right: 200px;
	}
}

.column.one {
	z-index: 7;
	opacity: .2;
	-webkit-transition: opacity .4s ease;
}

.column.one:hover {
	opacity: .9;
}

.script-container {
	margin-bottom: 15px;
}