#codeOptions {
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
	.script-element.selected {
		color: white;
		background-color: blue;
	}
}

#codeOptions:empty:after, #codeOptions .script-element {
	width: 100%;
	padding: 10px;
	list-style: none;
	display: list-item;
	font-size: 13pt;
	background-color: #EEE;
	border-radius: 8px;
	margin: 4px 0px;
}

#codeOptions:empty:after {
	content: "No scripts yet";
	font-size: 12pt;
	width: 100%;
	box-sizing: border-box;
}

#codeTitle {
	
}

.script-element .delete {
	float: right;
	width: 20px;
	height: 20px;
	background-color: white;
	cursor: pointer;
}

.column.four p {
	padding-right: 200px;
}

.column.one {
	z-index: 7;
	opacity: .2;
	position: absolute;
	right: 0px;
	-webkit-transition: opacity .4s ease;
}

.column.one:hover {
	opacity: .9;
}